.navbar {
  margin: 0px;
  padding-left: 1rem;
}
.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline-flex;
  padding-right: 10px;
}

@media only screen and (max-width: 480px) {
  .navbar {
    padding-left: 0;
  }
}